gpustat==0.6.0
h5py==3.1.0
llvmlite==0.35.0
numba==0.52.0
numpy==1.19.5
nvidia-ml-py3==7.352.0
PyWavelets==1.1.1
scipy==1.6.0
sigpy==0.1.21
torch==1.7.1+cu110
torch-cluster==1.5.8
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torchaudio==0.7.2
torchvision==0.8.2+cu110
tqdm==4.56.0
